<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>GoLab tournament</title>
</head>

<body>
    <!-- LIBS -->
    <script src="static/javascript/jquery.min.js"></script>
    <script src="static/javascript/jquery.cookie.min.js"></script>
    <script src="static/javascript/bootstrap.min.js"></script>
    <script src="static/javascript/ember.min.js"></script>
    <script src="static/javascript/ember-template-compiler.js"></script>
    <script src="static/javascript/ember-data.min.js"></script>

    <!-- APP -->
    <script src="app.js"></script>

    <!-- MAIN CONTAINER -->
    <script type="text/x-handlebars">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>GoLab Tournament</h3>
                    </div>
                    <div class="panel-body">
                        {{outlet}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>

    <!-- MAIN TEMPLATE -->
    <script type="text/x-handlebars" data-template-name="index">
    <div class="list-group">
        <h4 class="list-group-item active">All tournaments</h4>
        {{#each model as |t|}}
            {{#if t.finished}}
                <div class="list-group-item disabled">{{t.name}}</div>
            {{else}}
                <div class="list-group-item">
                    {{t.name}}
                    {{#if t.isMember}}
                        <button {{action "viewTournament" t}} class="btn btn-success">View</button>
                    {{else}}
                        <button {{action "joinTournament" t}} id="join-{{t.id}}" class="btn btn-default">Join</button>
                    {{/if}}
                </div>
            {{/if}}
        {{else}}
            <div class="list-group-item">no tournaments exist</div>
        {{/each}}
        </div>
    </script>

    <!-- TOURNAMENT TEMPLATE -->
    <script type="text/x-handlebars" data-template-name="tournaments">
		<div class="list-group">
            <h4 class="list-group-item active">fixtures</h4>
            TODO
		</div>
	</script>

    <!-- REGISTRATION AND LOGIN FORM TEMPLATE -->
    <script type="text/x-handlebars" data-template-name="registration">
	<div class="row">
        <form class="col-md-5" {{action "login" on="submit"}}>
			<h2>Login</h2>
            {{#if loginFailed}}
                <div class="alert alert-danger">Invalid username or password</div>
            {{/if}}
			<div class="form-group">
                <label class="control-label">username</label>
                {{input type="text" value=username class="form-control"}}
            </div>

            <div class="form-group">
                <label class="control-label">password</label>
                {{input type="password" value=password class="form-control"}}
            </div>
            <div class="text-right">
                <button {{bindAttr disabled="isProcessing"}}
                        class="btn btn-primary btn-lg"
                        type="submit">
                sign in
                </button>
            </div>
        </form>

        <form id="signup-form" class="col-md-5 col-md-offset-2" {{action "signup" on="submit"}}>
			<h2>Signup</h2>
            {{#if registrationErrors}}
                <div class="alert alert-danger">
                    <p>Registration failed:</p>
                    <ul>
                    {{#each registrationErrors as |err|}}
                        <li>{{err}}</li>
                    {{/each}}
                    </ul>
                </div>
            {{/if}}
            {{#if registrationNotif}}
                <div class="alert alert-success">
                    <p>{{registrationNotif}}</p>
                </div>
            {{/if}}
			<div class="form-group">
                <label class="control-label">username</label>
                {{input type="text" name="username" class="form-control"}}
            </div>

			<div class="form-group">
                <label class="control-label">e-mail</label>
                {{input type="text" name="email" class="form-control"}}
            </div>

			<div class="form-group">
                <label class="control-label">password</label>
                {{input type="password" name="password" class="form-control"}}
            </div>

            <div class="form-group">
                <label class="control-label">repeat password</label>
                {{input type="password" name="passwordRep" class="form-control"}}
            </div>
            <div class="text-right">
                <button class="btn btn-primary btn-lg" type="submit">sign up</button>
            </div>
        </form>
    </div>
    </script>
</body>
</html>
